{% extends 'base_container_scroll.html' %}

{% block content_for_base_container %}
<div>
    <p><strong>LLM Model:</strong> {{ llm_title }}</p>
    <p><strong>Prompt ID:</strong> <a href="{{ url_for('chats.chats_prompts_view', chat_prompt_id=chat_prompt_id) }}">{{ chat_prompt_id }}</a></p>
    <p><strong>Prompt Title:</strong> {{ chat_prompt_title }}</p>
    <p><strong>Prompt:</strong> {{ chat_prompt_text }}</p>
</div>

<div id="chat-record">
    <div id="chat-messages">
        {% for message, status in messages %}
            <div class="chat-{{ status }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% include 'snippet_password.html' %}