{% extends 'base_container_scroll.html' %}

{% block content_for_base_container %}
<form method="post">
    <div class="admin-button-right-align">
        <button type="submit">Save Prompt</button>
    </div>
    <div>
        <input type="text" id="chat_prompt_title" name="chat_prompt_title" value="{{ chat_prompt_title }}" class="admin-title" required>
    </div>
    <div>
        <textarea id="chat_prompt_text" name="chat_prompt_text" rows="10" class="admin-textarea" required>{{ chat_prompt_text }}</textarea>
    </div>
</form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}

{% include 'snippet_password.html' %}