{% extends 'base_container_scroll.html' %}    

{% block pagetitle %}DCX RSS{% endblock %}
{% block h1title %}DCX RSS{% endblock %}

{% block content_for_base_container %}
    <ul>
        <li><a href="/rss/feeds/">RSS - Feeds</a></li>
        <li><a href="/rss/refresh/">RSS - Refresh</a></li>
        <li><a href="/rss/generate_image/">RSS - Generate Image</a></li>
        <li><a href="/chats/">Chats - List</a></li>
        <li><a href="/chats/new/">Chats - New</a></li>
        <li><a href="/chats/prompts/">Chats: System Prompts - List</a></li>
        <li><a href="/chats/prompts/new/">Chats: System Prompts - New</a></li>
        <li><a href="/articles/types/">Articles - Types</a></li>
        <li><a href="/articles/">Articles - List</a></li>
        <li><a href="/articles/new/">Articles - New</a></li>
    </ul>
{% endblock %}

{% include 'snippet_password.html' %}