{% extends 'base_container_scroll.html' %}

{% block content_for_base_container %}
<div>
    <p><strong>Chat Model:</strong> {{ chatmodel }}</p>
    <p><strong>Prompt ID:</strong> <a href="{{ url_for('view_prompt', prompt_id=promptid) }}">{{ promptid }}</a></p>
    <p><strong>Prompt Title:</strong> {{ prompttitle }}</p>
    <p><strong>Prompt:</strong> {{ prompttext }}</p>
</div>

<div id="chat-record">
    <div id="chat-messages">
        {% for message, status in messages %}
            <div class="{{ status }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}