{% extends 'base_dcx.html' %}    

{% block pagetitle %}Chat Record{% endblock %}
{% block h1title %}Chat Record{% endblock %}

{% block content %}
<div>
    <p><strong>Chat Model:</strong> {{ chatmodel }}</p>
    <p><strong>Prompt ID:</strong> <a href="{{ url_for('view_prompt', prompt_id=promptid) }}">{{ promptid }}</a></p>
    <p><strong>Prompt Title:</strong> {{ prompttitle }}</p>
    <p><strong>Prompt:</strong> {{ prompttext }}</p>
</div>

<div id="conversation">
    <div id="chat-messages">
        {% for message, status in messages %}
            <div class="message {{ status }}">
                {% if status == 'question' %}
                    <p class="user-question">
                {% else %}
                <p class="gpt-response">
                {% endif %}
                {{ message }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}