{% extends 'base_dcx.html' %}    

{% block pagetitle %}Chat{% endblock %}
{% block h1title %}Chat{% endblock %}

{% block content %}
    <div id="conversation">
    </div>

    <form id="chatForm" onsubmit="askQuestion(); return false;">
        <select name="llmmodelid" id="llmmodelid">
            {% for llmmodelid, llmmodeltitle in llmmodels %}
                <option value="{{ llmmodelid }}">{{ llmmodeltitle }}</option>
            {% endfor %}
        </select>
        <select name="prompt_id" id="prompt_id">
            {% for prompt_id, prompt_title in prompts %}
                <option value="{{ prompt_id }}">{{ prompt_title }}</option>
            {% endfor %}
        </select>
        <br />
        <input type="text" id="questionInput" placeholder="Ask a question...">
        <button type="submit" id="askButton">Ask</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}