{% extends 'base_container_scroll.html' %}    

{% block pagetitle %}DCX RSS{% endblock %}
{% block h1title %}DCX RSS{% endblock %}

{% block content_for_base_container %}
            <p>Welcome to {{ site_name }}...</p>
            <ul>
                <li>Coming soon...</li>
            </ul>
            <ul>
                <li>X: <a href="https://twitter.com/{{ site_twitter_name }}">@{{ site_twitter_name }}</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/company/{{ site_linkedin_name }}/">{{ site_name }} LinkedIn</a></li>
                <li>Facebook: <a href="https://www.facebook.com/{{ site_facebook_name }}/">{{ site_name }} Facebook</a></li>
                <li>Enquiries: {{ site_email }}</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    
{% endblock %}