<!DOCTYPE html>
<html>
<head>
    <title>Matthew.es</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Matthew.es</h1>
        </div>
        <div class="main">
            <p>Experiments with AI. This is much easier than last time.</p>
            <ul>
                <li>"Last time" was writing The Spain Report from scratch with Ruby on Rails</li>
                <li>For publishing articles, emails, tweets Twitter API, Stripe API, etc.</li>
                <li>Now the AI era is here...</li>
                <li>So we go again...with ChatGPT4 and copilots as coding buddies</li>
                <li>VS Code + Git + Github + Azure + LLMs flows pretty fast now</li>
                <li>Python + html + css + javascript</li>
                <li>Mostly just very basic things for now, a bit of Flask...</li>
                <li>And then we learn go talk to the new LLM APIs...and build things faster</li>
                <li>Check out <a href="https://chat.openai.com/g/g-tjqqsvqdl-news-analyst-gpt">News Analyst GPT</a> on the store</li>
                <li>And then <a href="https://www.cryptoturtle.pro">CryptoTurtle.Pro</a>, which is looking at half a million Coinbase price points</li>
                <li>Now working on cool client AI stuff.</li>
            </ul>
            <ul>
                <li>X: <a href="https://twitter.com/matthewbennett">@matthewbennett</a></li>
                <li>Enquiries: m@matthew.es</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <footer>
        <p>© 2024 Matthew Bennett</p>
    </footer>
</body>
</html>