<div id="header">
    <div class="float-container">
        <div class="float-left">
            <img src="{{ url_for('static', filename='/images/dcx-logo.png') }}" alt="DCX Bull" height="50">
        </div>
        <div class="float-left">
            <h1>

            </h1>
        </div>
        <div class="float-right">
            <img src="{{ url_for('static', filename='/images/dcx-bull.png') }}" alt="DCX Bull" height="50">
        </div>
        <div class="float-clear"></div>
    </div>
</div>

<div id="main">
    <h1>
        {{ page_title }}
    </h1>
    <div id="nav">
        <a href="/dcx/rss">RSS</a> - <a href="/dcx/rss/refresh">Refresh</a> | 
        <a href="/dcx/prompts">Prompts</a> - <a href="/dcx/prompt/new">New</a> | 
        <a href="/dcx/chats">Chats</a> - <a href="/dcx/chats/new/sockets">New</a>
    </div>
</div>