<div id="passwordOverlay" class="modal">
    <div class="modal-content">
        <form id="passwordForm">
            <h3 class="margin-none">Password:</h3>
            <div class="admin-quick-flex">
                <input type="password" id="passwordInput" name="password" class="admin-input">
                <button type="submit" id="submitPassword" style="margin-top: -12px;">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    window.tempPassword = "{{ environ.get('TEMP_PASSWORD', '') | safe }}";
</script>

<script src="{{ url_for('static', filename='js/password.js') }}"></script>