{% extends 'base_container_scroll.html' %}
{% block content_for_base_container %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<div id="analysisModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="headlineDisplay"></p>
        <div id="analysisResult" class="newsfeed-list-analyse-box-result"></div>
    </div>
</div>


<div id="newsfeed-main-container" class="newsfeed-list-view">   
    
    <!-- <div class="newsfeed-view-switcher">
        <button id="switch-to-list">List</button>
        <button id="switch-to-cards">Images</button>
    </div> -->

        <!-- List View -->
        <div class="newsfeed-list-container">
            {% for item in items %}
            <div class="newsfeed-list-item">
                <span class="newsfeed-list-source">{{ item.feed }}</span>
                <div class="newsfeed-list-content">
                    <a href="{{ item.link }}" class="newsfeed-list-title">{{ item.title }}</a>
                    <span class="newsfeed-list-lede">{{ item.description }}</span>
                </div>
                <span class="newsfeed-list-date">{{ item.date }}</span>
                <a href="#" onclick="analyseHeadline(this); return false;" data-type-headline="{{ item.title | safe }}" data-type-description="{{ item.description | safe }}" class="newsfeed-list-analyse">Analyse</a>

            </div>
            {% endfor %}
        </div>

        <!-- Card View -->
        <div class="newsfeed-card-container">
            {% for item in items %}
            <div class="newsfeed-card-item">
                <div class="newsfeed-card-image" style="background-image: url('{{ item.image }}');">
                    <a href="{{ item.link }}" class="newsfeed-card-link-overlay" target="_blank" rel="noopener noreferrer"></a>
                        <div class="feed-text">
                            <h2 class="newsfeed-card-title">{{ item.title or "No Title" | truncate(100, true, '...') }}</h2>
                            <p class="newsfeed-card-date"><strong>{{ item.date }}</strong> from <strong>{{ item.feed }}</strong></p>
                            <p class="newsfeed-card-lede">{{ item.description or "" | truncate(100, true, '...') }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

</div>

<script>
    document.getElementById('switch-to-list').addEventListener('click', function() {
        document.getElementById('newsfeed-main-container').className = 'newsfeed-list-view';
        });

    document.getElementById('switch-to-cards').addEventListener('click', function() {
        document.getElementById('newsfeed-main-container').className = 'newsfeed-card-view';
        });


</script>

<script>
    var socket = io();
    var modal = document.getElementById("analysisModal");
    var span = document.getElementsByClassName("close")[0];
    var headlineDisplay = document.getElementById("headlineDisplay");
    var analysisResult = document.getElementById("analysisResult");

    function analyseHeadline(element) {
        var headline = element.getAttribute('data-type-headline');
        var description = element.getAttribute('data-type-description');
        headlineDisplay.innerHTML = '<span class="newsfeed-list-analyse-box-tag">Analysis:</span><br /><span class="newsfeed-list-analyse-box-headline">' + headline + '</span>';
        analysisResult.innerHTML = "Thinking...<span class=\"spinner\"></span>";
        modal.style.display = "block";
        socket.emit('analyse_headline', {
            'headline': headline,
            'description': description
        });
    }

    socket.on('new_chunk', function(data) {
        console.log(data);
        if (analysisResult && analysisResult.innerHTML.includes("Thinking...<span class=\"spinner\"></span>")) {
            analysisResult.innerHTML = '';  // Clear the "Thinking..." text
            analysisResult.innerHTML += data.chunk;
        } else if (analysisResult) {
            analysisResult.innerHTML += data.chunk;
        }            
    });

    // And if the stream of chunks ends, do this
    socket.on('stream_end', function() { // Assume the backend emits this on stream completion
            console.log("Stream end received");
            analysisResult.innerHTML = marked.parse(analysisResult.innerHTML);

            analysisResult.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
                });

            var moreChat = "{{url_for('chats.chat_new')}}"
            analysisResult.innerHTML += '<div class="newsfeed-list-analyse-box-more"><a href="' + moreChat + '" class="newsfeed-list-analyse-box-more-link">Chat more about this story</a></div>';

            setTimeout(function() {
                document.getElementById('askButton').disabled = false;
                isStreaming = false;
            }, 500); 

        });



    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}